@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800&display=swap');


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    scroll-behavior: smooth;
    font-weight: 400;
}




/*-------------------Navbar Section-------------------*/

nav{

    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100;
    transition: 0.5s;
}

.logo{

    color: white;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 2px;
}

.nav-links{

    position: relative;
    display: flex;
}

.nav-links li{

    position: relative;
    list-style: none;
}

.nav-links a{

    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.4em;
}

.nav-links a:hover{

    color: #3a7ca5;
}


nav.sticky{

    padding: 20px 100px;
    background: white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

nav.sticky .logo{

    color: #3a7ca5;
}

nav.sticky ul li a{

    color: black;
}



/*-------------------Hero Section-------------------*/

.hero{

    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(images/Glasgow.jpg);
    background-size: cover;
    position: relative;
    height: 100vh;
    display: flex;
    background-position: right;
    justify-content: space-between;
    align-items: center;
}

.hero div{

    padding: 100px;
}

.hero h1{

    font-size: 5em;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.hero h1 span{

    font-weight: 700;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.hero h3{

    font-size: 3em;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
    text-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

span{

    color: #3a7ca5;
}



/*-------------------About Me Section-------------------*/


.heading{

    width: 100%;
    text-align: center;
    color: black; 
    padding: 100px 0;
}

.heading h2{

    font-size: 4em;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: underline;
}

.about .content{

    padding-bottom: 40px;
}

.content{

    display: flex;
    justify-content: space-between;
    padding: 0 150px;
}


.about .contentBx p{

    font-size: 1.8em;
}



.contentBx{

    padding-top: 80px;
}

.width50{

    min-width: 50%;
}

.width50 img{

    max-width: 100%;
    border-radius: 50%;
}



/*-------------------Portfolio Section-------------------*/

.work{

    background-color: #111;
    /*height: 140vh;*/
}

.work .heading{

    color: white;
}

.container{

    width: 1260px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    padding-bottom: 50px;
  }
  
  
  .container .box{
  
    position: relative;
    width: 400px;
    height: 400px;
    background-color: green;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
  }
  
  
  .container .box .imgBox{
  
    position: relative;
    overflow: hidden; /* prevents image spilling out of div */
  }
  
  .container .box .imgBox img{
  
    height: 400px;
    width: 400px;
    transition: 1s;
    object-fit: cover;
  }
  
  .container .box:hover .imgBox img{
  
    transform: scale(1.2);
  }
  
  
  .container .box .details{

    /* set position and leave space around */
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;

    background-color: rgba(0,0,0,0.8);
    transform: scaleY(0); /* closes the detail box */
    transition: 0.5s;
  }
  
  .container .box:hover .details{
  
    transform: scaleY(1); /* opens the detail box */
  }
  
  .container .box .details .content{

    /* centres content inside details box */ 
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .container .box .details .content h2{
  
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: #3a7ca5;
  }
  
  .container .box .details .content p{
  
    margin: 10px 0;
    padding: 0;
    font-size: 1.2em;
  }



/*-------------------Services Section-------------------*/

.services{

    background-color: white;
    /*height: 100vh;*/
}

.services .heading{

    color: black;
}

.services .content{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 30px;
}

.services .servicesBx{

    background-color: #222;
    padding: 40px 20px;
    max-width: 340px;
    color: white;
    text-align: center;
    margin: 20px; /* seperates each section */
    transition: 0.5s;
}

.services .servicesBx img{

    width: 40%;
    filter: invert(1); /* turn icons white */
}

.services .servicesBx h2{

    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: underline;
}

.services .servicesBx p{

    font-size: 1.5em;
    padding-top: 10px;
}

.services .servicesBx:hover{

    background-color: #3a7ca5;
}



/*-------------------Contact Section-------------------*/

.contact{

    background-color: #111;
    /*height: 120vh;*/
}

.contact .content{

    text-align: center;
    display: flex;
    justify-content: center;
}

.contact .heading{

    color: white;
}

.formBx{

    min-width: 60%;
}

.formBx form{

    display: flex;
    flex-direction: column;
}

.formBx h3{

    color: white;
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 500;
}

.formBx input,
.formBx textarea{

    font-size: 1.4em;
    padding: 10px; /* add space inside the input fields*/
    margin-bottom: 10px;
    background-color: #222;
    color: white;
    border: none;
    resize: none; /* stop text area from being manually resized */
}

.formBx button{

    max-width: 200px;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #3a7ca5;
    color: white;
    outline: none;
}



.social-media{

    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 20px;
}

.socialBx{

    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 200px; 
    
}

.socialBx img{

    max-width: 100%;
    filter: invert(1);
}

.socialBx a{

    margin: 0 10px;
    margin-top: 70px;
}

.socialBx a:hover{

    opacity: 0.5;
    transition: 0.5s;
}



/*-------------------Footer Section-------------------*/

footer{

    background-color: #3a7ca5;
    color: white;
    height: 50px;
}

footer p{

    font-size: 1.5em;
    text-align: center;
    text-decoration: underline;
    padding-top: 5px;
}



/*-------------------RESPONSIVENESS-------------------*/

@media (max-width: 991px){

    nav,
    nav.sticky{

        padding: 20px 50px;
        z-index: 100;
    }

    .nav-links{

        position: fixed;
        top: 85px; /* set top of menu from navbar */
        right: -100%; /* set menu off to the right */
        display: block;
        text-align: center;
        width: 100%;
        height: 100vh;
        transition: 0.5s;
        background-color: white;
        padding: 100px 50px;
        z-index: 99;
        border-top: 1px solid black;
    }

    .nav-links.active{

        right: 0; /* set menu back on webpage */
    }

    .nav-links a{

        color: black;
        font-size: 2em;
        margin: 50px 0;
    }

    .toggle{

        /* create the toggle icon */
        background: url(images/hamburger.png);
        height: 30px;
        width: 30px;      
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }

    .toggle.active{

        /* create the close icon */
        background: url(images/close.png);
        height: 30px;
        width: 30px;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }

    nav.sticky .toggle{

        filter: invert(1);
    }

    
    .hero{

        padding: 20px 0px;
    }

    .hero h1{

        font-size: 2.5em;
    }

    .hero h3{

        font-size: 2em;
    }

    .heading h2{

        font-size: 2em;
    }

    .content{

        flex-direction: column;
    }

    .width50{

        margin-bottom: 20px;
    }

    .work .content .workBx{

        width: 100%;
        padding: 10px;
    }

    .container{

        display: flex;
        flex-direction: column;
        width: 430px;
        margin: 0 auto;
    }
}


@media (max-width: 600px){

    nav,
    nav.sticky{

        padding: 20px 20px;
    }

    .hero{

        padding: 20px 0px;
    }

    .about .contentBx p{

        font-size: 1em;
    }
}







