@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800&display=swap');

*{

    /* set the defaults */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}


/* -----------------------Header / Navbar Section---------------------------------- */
/* Creates the navbar section */
header{

    background-color:#343838;
    height: 110px;
    color: white;
}

/* The container inside of the navbar */
.navbar-container{

    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; /* Fit to 100% of the container */
}

/* Navbar links */
header ul{

    display: flex; /* sets the links in a row */
    list-style-type: none; /* Gets rid of bullet points */
}

header li a{

    color: white;
    text-decoration: none; /* Gets rid of underline */
    padding: 0 15px; /* Add space between links */
    font-weight: 600;
    font-size: 1.3em;
}

h2 a{

    font-weight: 600;
    font-size: 1.5em;
    color: white;
    text-decoration: none; /* Gets rid of underline */
}

header li a:hover{

    text-decoration: underline;
}



/* -----------------------Showcase Section---------------------------------- */
.showcase{

    background-color: #368BC1;
    height: 650px;
}

.showcase-content{

    text-align: center;
    padding: 60px 0;
}

.showcase-content img{

    width: 20%;
}

.showcase-content h1{

    font-weight: 800;
    font-size: 5em;
    color: white;
}

.showcase-content p{

    font-weight: 500;
    font-size: 1.5em;
    color: white;
}



/* -----------------------Portfolio Section---------------------------------- */
.portfolio{

    background-color: white;
    height: 1200px;
}

.portfolio-content{

    text-align: center;
    padding: 40px 0;
}

.portfolio-content h1{

    font-weight: 800;
    font-size: 5em;
    text-decoration: underline;
    color: #343838;
}

.portfolio-items{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 10fr));
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    padding: 50px 250px;
}

.grid-item{

  text-align: center;
}

.portfolio-items img{

    width: 100%;
}



/* -----------------------About me Section---------------------------------- */
.about-me{
    background-color: #368BC1;
    height: 670px;
}

.about-me h1{

    font-weight: 800;
    font-size: 5em;
    text-decoration: underline;
    color: white;
    text-align: center;
    padding: 40px 0;
}

.about-me-content{

    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me-content img{

    width: 30%;
}

.about-me-text{

    width: 60%;
    font-weight: 500;
    font-size: 1.5em;
    color: white;
}

.about-me-text p{

    margin-bottom: 30px;
}



/* -----------------------Technologies Section---------------------------------- */
.technologies{

    background-color: #368BC1;
    height: 500px;
    text-align: center;
    padding: 40px 0;
}

.technologies h1{

    font-weight: 800;
    font-size: 5em;
    text-decoration: underline;
    color: white;
    text-align: center;
}

.technologies-items{

    display: flex;
    flex-direction: row;
    margin: 60px 0;
}

.technologies-items img{

    width: 60%;
}



/* -----------------------Contact me Section---------------------------------- */
.contact{

    background-color: white;
    height: 400px;
    text-align: center;
    padding: 40px 0;
}

.contact h1{

    font-weight: 800;
    font-size: 5em;
    text-decoration: underline;
    color: #343838;
}

.contact p{

    font-weight: 500;
    font-size: 1.5em;
    color: #343838;
    margin-top: 8px;
}

.contact-items{

    display: flex;
    justify-content: center;
    max-width: 300px;
    margin-left: 800px;
    padding-top: 50px;
}

.contact-items img{

    width: 70%;
}

#email:hover{

    opacity: 50%;
}

#link:hover{

    opacity: 50%;
}

#github:hover{

    opacity: 50%;
}



/* -----------------------Footer---------------------------------- */
footer{

    background-color:#343838;
    height: 80px;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
}

footer p{

    padding-top: 25px;
}